@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes blinkCursor {
  50% { border-color: transparent; opacity: 0}
}
 
 
/* @keyframes rollText {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
} */

.animate-roll {
  display: inline-flex;
  /* animation: rollText 1s linear; Adjusted to play only once */
}

.animate-roll-second {
  display: inline-flex;
  animation: rollText 0.5s linear; /* Adjusted for the second animation */
}
@keyframes roll1 {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.letter {
  display: inline-block; /* Added for individual letter styling */
  overflow: hidden;
  opacity: 0; /* Start with letters invisible */
  animation: roll1 0.4s ease-in forwards;
}
